Confuser.Core/Project/ConfuserPrj.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://confuser.codeplex.com"
           xmlns="http://confuser.codeplex.com"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add" />
      <xs:enumeration value="remove" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="preset">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="minimum" />
      <xs:enumeration value="normal" />
      <xs:enumeration value="aggressive" />
      <xs:enumeration value="maximum" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="renameMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unicode" />
      <xs:enumeration value="ASCII" />
      <xs:enumeration value="Letters" />
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Retain" />
      <xs:enumeration value="Sequential" />
      <xs:enumeration value="Reversible" />
      <xs:enumeration value="MeaningfulWords" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="argument">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="meaningfulWords" type="meaningfulWordsType" />
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:string" use="optional" />
  </xs:complexType>

  <!-- Meaningful Words Configuration Schema -->
  <!-- 
    The meaningfulWords configuration allows you to specify custom word lists and patterns
    for generating more natural-looking obfuscated names instead of random characters.
    
    Patterns now support flexible combinations of word categories separated by commas, plus signs, pipes, or semicolons.
    
    Example usage:
    <argument name="meaningfulWords">
      <meaningfulWords useNumbers='true' maxLength='20' minLength='3'>
        <patterns>
          <pattern value='Noun' />
          <pattern value='Adjective,Noun' />
          <pattern value='Verb,Noun' />
          <pattern value='Verb,Adverb,Noun' />
          <pattern value='Adjective,Verb,Noun' />
        </patterns>
        <words>
          <noun><word>System</word><word>Manager</word></noun>
          <verb><word>Handle</word><word>Process</word></verb>
          <adjective><word>Fast</word><word>Smart</word></adjective>
          <adverb><word>Quickly</word><word>Safely</word></adverb>
        </words>
      </meaningfulWords>
    </argument>
  -->
  <xs:complexType name="meaningfulWordsType">
    <xs:sequence>
      <xs:element name="patterns" type="patternsType" minOccurs="0" maxOccurs="1" />
      <xs:element name="words" type="wordsType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="useNumbers" type="xs:boolean" default="false" />
    <xs:attribute name="maxLength" type="xs:positiveInteger" default="50" />
    <xs:attribute name="minLength" type="xs:positiveInteger" default="3" />
  </xs:complexType>

  <xs:complexType name="patternsType">
    <xs:sequence>
      <xs:element name="pattern" type="patternType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patternType">
    <xs:attribute name="value" type="wordPatternString" use="required" />
  </xs:complexType>

  <xs:simpleType name="wordPatternString">
    <xs:restriction base="xs:string">
      <!-- Pattern format: WordCategory names separated by commas, plus signs, pipes, or semicolons -->
      <!-- Examples: "Noun", "Adjective,Noun", "Verb,Adverb,Noun", "Adjective+Verb+Noun" -->
      <xs:pattern value="[A-Za-z]+([,+|;][A-Za-z]+)*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="wordsType">
    <xs:sequence>
      <xs:element name="noun" type="wordListType" minOccurs="0" maxOccurs="1" />
      <xs:element name="verb" type="wordListType" minOccurs="0" maxOccurs="1" />
      <xs:element name="adjective" type="wordListType" minOccurs="0" maxOccurs="1" />
      <xs:element name="adverb" type="wordListType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wordListType">
    <xs:sequence>
      <xs:element name="word" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="objSettings">
    <xs:sequence>
      <xs:element name="argument" type="argument" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="action" type="action" default="add" />
  </xs:complexType>

  <xs:complexType name="rule">
    <xs:sequence>
      <xs:element name="protection" type="objSettings" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="preset" type="preset" default="none" />

    <xs:attribute name="inherit" type="xs:boolean" default="true" />
    <xs:attribute name="pattern" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="module">
    <xs:sequence>
      <xs:element name="rule" type="rule" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="path" type="xs:string" use="required" />
    <xs:attribute name="external" type="xs:boolean" default="false" />
    <xs:attribute name="snKey" type="xs:string" use="optional" />
	<xs:attribute name="snPubKey" type="xs:string" use="optional" />
	<xs:attribute name="snSigKey" type="xs:string" use="optional" />
	<xs:attribute name="snPubSigKey" type="xs:string" use="optional" />
    <xs:attribute name="snKeyPass" type="xs:string" use="optional" />
    <xs:attribute name="snSigKeyPass" type="xs:string" use="optional" />
	<xs:attribute name="snDelaySig" type="xs:boolean" default="false" />
  </xs:complexType>


  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rule" type="rule" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="packer" type="objSettings" minOccurs="0" maxOccurs="1" />
        <xs:element name="module" type="module" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="probePath" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="plugin" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="outputDir" type="xs:string" use="required" />
      <xs:attribute name="baseDir" type="xs:string" use="required" />
      <xs:attribute name="seed" type="xs:string" use="optional" />
      <xs:attribute name="debug" type="xs:boolean" default="false" />
    </xs:complexType>
  </xs:element>
</xs:schema>
